<html>
    <head>
        <link type="text/css" rel="stylesheet" href="static/index_css.css"/>
        <title>CALI - Spanish Linguistic proficiency portal</title>
        <meta charset="UTF-8">
        <title>CALI - Spanish Linguistic proficiency portal</title>
        <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>
          <script type="text/javascript" src="{{url_for('static',filename='js_logic.js')}}"></script>
    </head>
    <body style="overflow: scroll;">
        {%include "header.html"%}
        <div class="app" style="overflow: scroll;">
        <table>
            <tr>
                <td>Enter text in the box below to analyze</td>
                <td><textarea id="entered_text" maxlength="2000" name="text_to_analyze" rows="10" columns="20" style="resize:none;"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="button" value="Analyze the text" onclick="analyzeEnteredText()"/></td>
            </tr>
        </table>
        <div class="loader"></div>
        <p id="results_metrics">

        </p>
    </div>
    </body>
</html>