<html>
    <head>
        <link type="text/css" rel="stylesheet" href="static/index_css.css"/>
        <meta charset="UTF-8">
        <title>CALI - Spanish Linguistic proficiency portal</title>
        <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>
          <script type="text/javascript">
            function handleChange(event,value)
            {
              event.target.value = value;
            }
            function toggle_block(event,id_str)
            {
              event.preventDefault();
              display_curr = document.getElementsByClassName(id_str)[0].style.display;
              console.log("entered "+display_curr)
              if(display_curr == "none")
              document.getElementsByClassName(id_str+"")[0].style.display = "block";
              else
              document.getElementsByClassName(id_str+"")[0].style.display = "none";
            }
            function validateAndSubmit(event)
            {
              event.preventDefault();
              errors_present = false;
              error_msg = "";
              num_fields_entered = 0;
              console.log("valid method");
              const author_regex = /[([a-zA-Z]|[à-ü]|[À-Ü]])\s]+/;
              author_name = document.getElementsByName('author')[0].value;
              console.log(author_regex.test(author_name));
              if(author_name!="" && author_regex.test(author_name)==false)
              error_msg = error_msg.concat("","Author name can only contain uppercase and lowercase letters and spaces");
              else if(author_name!="" && undefined!=author_name)
              num_fields_entered = num_fields_entered + 1;
              title_entered = document.getElementsByName('book_title')[0].value;
              if(title_entered!="" && author_regex.test(title_entered)==false)
              error_msg = error_msg.concat("","Title can only contain uppercase and lowercase letters and spaces");
              else if(title_entered!="" && undefined!=title_entered)
              num_fields_entered = num_fields_entered + 1;
              const key_words_regex = /[([a-zA-Z]|[à-ü]|[À-Ü]])\s,]*[([a-zA-Z]|[à-ü]|[À-Ü]])\s]$/;


            }
            function displaySingleTab(event)
            {
              if(event.target.name == "Search")
              {
                document.getElementsByClassName('search_tab')[0].style.display = "block";
                document.getElementsByClassName('readability_tab')[0].style.display = "none";
                document.getElementsByClassName('vocab_tab')[0].style.display = "none";
                document.getElementsByClassName('more_results_tab')[0].style.display = "none";
              }
              else if(event.target.name=="Readability")
              {
                document.getElementsByClassName('search_tab')[0].style.display = "none";
                document.getElementsByClassName('readability_tab')[0].style.display = "block";
                document.getElementsByClassName('vocab_tab')[0].style.display = "none";
                document.getElementsByClassName('more_results_tab')[0].style.display = "none";
              }
              else if(event.target.name=="Vocabulary")
              {
                document.getElementsByClassName('search_tab')[0].style.display = "none";
                document.getElementsByClassName('readability_tab')[0].style.display = "none";
                document.getElementsByClassName('vocab_tab')[0].style.display = "block";
                document.getElementsByClassName('more_results_tab')[0].style.display = "none";
              }
              else if(event.target.name=="More_Results")
              {
                document.getElementsByClassName('search_tab')[0].style.display = "none";
                document.getElementsByClassName('readability_tab')[0].style.display = "none";
                document.getElementsByClassName('vocab_tab')[0].style.display = "none";
                document.getElementsByClassName('more_results_tab')[0].style.display = "block";
              }
            }
          </script>
    </head>
    <body>
        <div class="app">
            <div class="header">
                <b>A Linguistic Portal to Spanish in Proficiency</b>
                &nbsp;&nbsp;&nbsp;
                    <div class="dropdown">
                        <button class="dropbtn">Home</button>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Corpus</button>
                        <div class="dropdown-content">
                            <a href="#">Teachers and Learners</a>
                            <a href="#">Researchers</a>
                            <a href="#">Analyze your texts</a>
                            <a href="#">Add to Corpus</a>
                          </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Tutorials</button>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Readability</button>
                        <div class="dropdown-content">
                            <a href="#">What is readability?</a>
                            <a href="#">How is readability calculated?</a>
                            <a href="#">Reading and L2 Learning</a>
                          </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Contact</button>
                    </div>
            </div>
            <div class="row">
                <div class="column" style="background-color:#aaa;">
                  <h2>Books</h2>
                  {%for res in results%}
                  <tr><td>{{res}}</td></tr>
                  <br/>
                  {%endfor%}

                  <p>Books go here..</p>
                  <p>Books go here..</p>
                  <p>Books go here..</p>
                  <p>Books go here..</p>
                  <p>Books go here..</p>
                  <p>Books go here..</p>
                  <p>Books go here..</p>
                </div>
                <div class="column2" style="background-color:#bbb;">
                <div class="flexbox">
                <div class="dropdown">
                  <input type="button" name="Search" value="Search" name="select_button" class="dropbtn" onclick="displaySingleTab(event)"></input>
                </div>
                <div class="dropdown">
                  <input type="button" name="Readability" value="Readability" name="select_button" class="dropbtn" onclick="displaySingleTab(event)"></input>
                </div>
                <div class="dropdown">
                  <input type="button" name="Vocabulary" value="Vocabulary" name="select_button" class="dropbtn" onclick="displaySingleTab(event)"></input>
                </div>
                <div class="dropdown">
                  <input type="button" name="More_Results" value="More_Results" name="select_button" class="dropbtn" onclick="displaySingleTab(event)"></input>
                </div>
                </div>
                  <div class="search_tab">
                  {%include "searchTemplate.html"%}
                  </div>
                  <div class="readability_tab">
                  <p>Readability</p>
                  </div>
                  <div class="vocab_tab">
                  <p>Vocabulary</p>
                  </div>
                  <div class="more_results_tab">
                  <p>More results</p>
                  </div>

                </div>
              </div>
        </div>
        
              
      
    </body>
</html>