<html>
    <head>
        <link type="text/css" rel="stylesheet" href="static/index_css.css"/>
        <meta charset="UTF-8">
        <title>CALI - Spanish Linguistic proficiency portal</title>
        <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>
          <script type="text/javascript" src="{{url_for('static',filename='js_logic.js')}}"></script>
    </head>
    <body onload="handleLoad()">
        <div class="app">
            {%include "header.html"%}
            <div class="row">
              
                <div class="column" style="background-color:#aaa;">
                  <h2>Books</h2>
                  <p id="selected_book_name"></p>
                  <div id="all_books_block">
                  <table>
                  {%for book in results%}
                  <tr><td><input type="radio" name="books" value="{{book['Book_name']}}" onchange="handleBookSelection(event)"><a href={{book['url']}} target="_blank">{{book['Book_name']}}</a></input></td></tr>
                  {%endfor%}
                  </table>
                  </div>
                  {% if results%}
                  <button onclick="handlePreviousButton(event)" id="previous_button" value="0" disabled>Previous</button>
                  <button value="{{curr_page_number}}" onclick="handleNextClick(event)" id="next_button">Next</button>
                  {%endif%}
                </div>
                <div class="column2" style="background-color:#bbb;">
                <div class="flexbox">
                <div class="dropdown">
                  <input type="button" name="Search" value="Search" name="select_button" class="dropbtn" onclick="displaySingleTab(event)"></input>
                </div>
                <div class="dropdown">
                  <input type="button" name="Readability" value="Readability" name="select_button" class="dropbtn" onclick="displaySingleTab(event)"></input>
                </div>
                <div class="dropdown">
                  <input type="button" name="Vocabulary" value="Vocabulary" name="select_button" class="dropbtn" onclick="displaySingleTab(event)"></input>
                </div>
                </div>
                  <div class="search_tab" id="search_tab">
                  {%include "searchTemplate.html"%}
                  </div>
                  <div class="readability_tab" id="readability_tab">
                  <p>Readability</p>
                  </div>
                  <div class="vocab_tab" id="vocab_tab">
                    <b>Vocabulary Results</b>
                    <button class="accordion" name="vocab_results_pos" onclick="toggle_block(event,'vocab_results_pos')">Top 25 parts of speech results</button>
                    <div class="vocab_results_pos">
                      <p id="vocab_results_pos">
                      </p>
                    </div>

                    <button class="accordion" name="vocab_results_collocations" onclick="toggle_block(event,'vocab_results_collocations')">Top 25 collocations results</button>
                    <div class="vocab_results_collocations">
                      <p id="vocab_results_collocations">
                      </p>
                    </div>

                    
                  </div>
                  <!--<div class="analyze_text_box" id="analyze_text">
                    {%include "analyze_text.html"%}
                  </div>
                  <div class="analyze_text_file" id="analyze_file">
                    <p>Analyze your file here...</p>
                  </div>-->

                </div>
              
              </div>
        </div>
        
              
      
    </body>
</html>