<html>
    <head>
        <link type="text/css" rel="stylesheet" href="static/index_css.css"/>
        <meta charset="UTF-8">
        <title>CALI - Spanish Linguistic proficiency portal</title>
    </head>
    <body>
        {%include "header.html"%}
        <div class="app app_body">
        <p>
            Welcome to CALI, A Linguistic Portal to Proficiency in Spanish. CALI is a tool that provides its users a path to develop their reading proficiency in Spanish.
        </p>
        <h4>Search for Texts in Spanish by Reading Proficiency Level Using CALI</h4>
        <p>
            Using CALI, teachers, learners, and researchers can search for texts in Spanish by reading proficiency level. CALI makes this possible using techniques from natural language processing and machine learning that are informed by results from decades of psycholinguistic research on reading comprehension. 
        </p>
        <p>
            This means that CALI’s algorithms to sort texts by reading proficiency level approximate how we think humans process a text when they read it. CALI contains an ever-growing number of texts in Spanish in its searchable database.
        </p>
        <p>
            Users can also enter in their own texts to have CALI calculate their reading level as well as analyze them for other important linguistic measures useful in second language learning and teaching.
        </p>
    </div>
    </body>
</html>