<html>
    <head>
        <link type="text/css" rel="stylesheet" href="static/index_css.css"/>
        <title>CALI - Spanish Linguistic proficiency portal</title>
        <meta charset="UTF-8">
    </head>
    <button class="accordion" name="show_table_text_info" value="text_info_button" id="show_table_text_info" onclick="toggle_block(event,'criteria_block_text_info')">Search by Text Info</button>
    <table class="criteria_block_text_info" id="criteria_block_text_info">
        <tr>
            <td>Genre</td>
            <td><input type="text" name="genre" id="genre" onchange="handleChange(event,value)"/></td>
        </tr>
        <tr>
            <td>Type</td>
            <td><input type="text" name="text_type" id="text_type"onchange="handleChange(event,value)"/></td>
        </tr>
        <tr>
            <td>Length</td>
            <td><input type="number" name="text_len" id="text_len" onchange="handleChange(event,value)" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
        </tr>
        <tr>
            <td>Authentic</td>
            <td><input type="checkbox" name="authentic_or_simplified" id="authentic_or_simplified" onchange="handleChange_checkbox(event)"  value="authentic"/></td>
            <td>Simplified</td>
            <td><input type="checkbox" name="authentic_or_simplified" id="authentic_or_simplified" onchange="handleChange_checkbox(event)"  value="Simplified"/></td>
        </tr>
    </table>
</html>