<html>
    <head>
        <link type="text/css" rel="stylesheet" href="static/index_css.css"/>
        <title>CALI - Spanish Linguistic proficiency portal</title>
    </head>
    <div class="searchBlock">
        {% if form_error==True %}
        <p class="error">{{error}}</p>
        {% endif %}
        <b>Find Your Text</b>
        {%include "searchTitleKeyWords.html"%}
        <button class="accordion" name="show_table_metrics" id="show_table_metrics" value="readability_metrics_button" onclick="toggle_block(event,'criteria_block_metrics')">Search by Readability Metrics</button>
        <table class="criteria_block_metrics">
            <tr>
                <td>Number of Paragraphs</td>
                <td><input type="number" name="num_paras" id="num_paras" onchange="handleChange(event,value)"/></td>
                <td>Number of sentences</td>
                <td><input type="number" name="num_sents" id="num_sents" onchange="handleChange(event,value)"/></td>
            </tr>
            <tr>
                <td>Number of words</td>
                <td><input type="number" name="num_words" id="num_words" onchange="handleChange(event,value)"/></td>
                <td>Mean length of paragraphs</td>
                <td><input type="number" name="mean_len_paras" id="mean_len_paras" onchange="handleChange(event,value)"/></td>
            </tr>
            <tr>
                <td>Standard deviation of mean length of paragraphs</td>
                <td><input type="number" name="std_mlp" id="std_mlp" onchange="handleChange(event,value)"/></td>
                <td>Mean number of words in sentences</td>
                <td><input type="number" name="mean_num_words_in_sents" id="mean_num_words_in_sents" onchange="handleChange(event,value)"/></td>
            </tr>
            <tr>
                <td>Standard deviation of mean length of sentences</td>
                <td><input type="number" name="std_mls" id="std_mls" onchange="handleChange(event,value)"/></td>
                <td>Mean number of syllables in words</td>
                <td><input type="number" name="mean_num_sylls" id="mean_num_sylls" onchange="handleChange(event,value)"/></td>
            </tr>
            <tr>
                <td>Standard deviation of mean number of syllables</td>
                <td><input type="number" name="std_mean_sylls" id="std_mean_sylls" onchange="handleChange(event,value)"/></td>
                <td>Mean number of letters in words</td>
                <td><input type="number" name="mean_num_letters" id="mean_num_letters" onchange="handleChange(event,value)"/></td>
            </tr>
            <tr>
                <td>Standard deviation of mean number of letters in words</td>
                <td><input type="number" name="std_mean_letters_in_words" id="std_mean_letters_in_words" onchange="handleChange(event,value)"/></td>
                <td>Noun overlap adjacent</td>
                <td><input type="number" name="noun_overlap_adj" id="noun_overlap_adj" onchange="handleChange(event,value)"/></td>
            </tr>
            <tr>
                <td>Noun overlap global</td>
                <td><input type="number" name="noun_overlap_global" onchange="handleChange(event,value)"/></td>
                <td>Content word overlap adjacent</td>
                <td><input type="number" name="cwr_overlap_adj" onchange="handleChange(event,value)"/></td>
            </tr>
            <tr>
                <td>Content word overlap global</td>
                <td><input type="number" name="cwr_overlap_global" onchange="handleChange(event,value)"/></td>
                <td>Argument overlap adjacent</td>
                <td><input type="number" name="arg_overlap_adj" onchange="handleChange(event,value)"/></td>
            </tr>
            <tr>
                <td>Argument overlap global</td>
                <td><input type="number" name="arg_overlap_global" onchange="handleChange(event,value)"/></td>
                <td>Local stem overlap</td>
                <td><input type="number" name="local_stem_overlap" onchange="handleChange(event,value)"/></td>
            </tr>
        </table>
    </div>
    {%include "searchTextInfo.html"%}
    {%include "searchLanguageCritera.html"%}

    <div class="search_button">
    <button type="submit" name="search_texts" value="search_texts_button">Search texts</button>
    </div>

</html>