<html>
    <head>
        <link type="text/css" rel="stylesheet" href="static/index_css.css"/>
        <title>CALI - Spanish Linguistic proficiency portal</title>
        <meta charset="UTF-8">
    </head>
    <div class="searchBlock">
        {% if form_error==True %}
        <p class="error">{{error}}</p>
        {% endif %}
        <b>Find Your Text</b>
        {%include "searchTitleKeyWords.html"%}
        <button class="accordion" name="show_table_metrics" id="show_table_metrics" value="readability_metrics_button" onclick="toggle_block(event,'criteria_block_metrics')">Search by Descriptive Readability Metrics</button>
        <table class="criteria_block_metrics" id="criteria_block_metrics">
            <tr>
                <td>Number of Paragraphs</td>
                <td><input type="number" name="num_of_paras" id="num_of_paras" onchange="handleChange(event,value)" min="0"  onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                <td>Number of sentences</td>
                <td><input type="number" name="num_of_sentences" id="num_of_sentences" onchange="handleChange(event,value)" min="0" inputmode="Numeric" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
            </tr>
            <tr>
                <td>Number of words</td>
                <td><input type="number" name="num_words" id="num_words" onchange="handleChange(event,value)" min="0" inputmode="Numeric" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                <td>Mean length of paragraphs</td>
                <td><input type="number" name="mean_len_of_paras" id="mean_len_of_paras" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
            </tr>
            <tr>
                <td>Standard deviation of mean length of paragraphs</td>
                <td><input type="number" name="std_mean_len_of_paras" id="std_mean_len_of_paras" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                <td>Mean number of words in sentences</td>
                <td><input type="number" name="mean_num_words_per_sent" id="mean_num_words_per_sent" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
            </tr>
            <tr>
                <td>Standard deviation of mean length of sentences</td>
                <td><input type="number" name="std_of_num_of_words_in_sent" id="std_of_num_of_words_in_sent" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                <td>Mean number of syllables in words</td>
                <td><input type="number" name="mean_num_sylls" id="mean_num_sylls" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
            </tr>
            <tr>
                <td>Standard deviation of mean number of syllables</td>
                <td><input type="number" name="std_mean_sylls" id="std_mean_sylls" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                <td>Mean number of letters in words</td>
                <td><input type="number" name="mean_num_of_letters_in_words" id="mean_num_of_letters_in_words" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
            </tr>
            <tr>
                <td>Standard deviation of mean number of letters in words</td>
                <td><input type="number" name="std_of_num_of_letters_in_words" id="std_of_num_of_letters_in_words" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
            </tr>
        </table>
        <button class="accordion" name="show_table_metrics_referential" id="show_table_metrics_referential" value="readability_metrics_button_referential" onclick="toggle_block(event,'criteria_block_metrics_referntial')">Search by Referential cohesion coh metrics</button>
            <table class="criteria_block_metrics_referntial" id="criteria_block_metrics_referntial">
                <tr>
                    <td>Noun overlap adjacent</td>
                    <td><input type="number" name="local_noun_overlap" id="local_noun_overlap" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                    <td>Noun overlap global</td>
                    <td><input type="number" name="noun_overlap_global" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                </tr>
                <tr>
                    <td>Content word overlap adjacent</td>
                    <td><input type="number" name="local_content_word_overlap" id="local_content_word_overlap" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                    <td>Content word overlap global</td>
                    <td><input type="number" name="cwr_overlap_global" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                </tr>
                <tr>
                    <td>Argument overlap adjacent</td>
                    <td><input type="number" name="local_argument_overlap" id="local_argument_overlap" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                    <td>Argument overlap global</td>
                    <td><input type="number" name="arg_overlap_global" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                </tr>
                <tr>
                    <td>Local stem overlap</td>
                    <td><input type="number" name="local_stem_overlap" id="local_stem_overlap" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                </tr>
            </table>
            <button class="accordion" name="show_table_metrics_lexical_diversity" id="show_table_metrics_lexical_diversity" value="readability_metrics_button_diversity" onclick="toggle_block(event,'criteria_block_metrics_diversity')">Search by Lexical Diversity and Word Information</button>
            <table class="criteria_block_metrics_diversity" id="criteria_block_metrics_diversity">
                <tr>
                    <td>Type token ratio</td>
                    <td><input type="number" name="ttr" id="ttr" onchange="handleChange(event,value)" min="0" max="1" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                    <td>Noun incidence</td>
                    <td><input type="number" name="noun_incidence" id="noun_incidence" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                </tr>
                <tr>
                    <td>Verb Incidence</td>
                    <td><input type="number" name="verb_incidence" id="verb_incidence" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                    <td>Adjective Incidence</td>
                    <td><input type="number" name="adj_incidence" id="adj_incidence" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                </tr>
                <tr>
                    <td>Adverb Incidence</td>
                    <td><input type="number" name="adverb_incidence" id="adverb_incidence" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                    <td>Average content word frequency</td>
                    <td><input type="number" name="arg_cwr_freq" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                </tr>
                <tr>
                    <td>Average Minimium Word frequency</td>
                    <td><input type="number" name="avg_min_freq" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                </tr>
            </table>
            <button class="accordion" name="show_table_metrics_syn_complexity" id="show_table_metrics_syn_complexity" value="readability_metrics_syn_complexity" onclick="toggle_block(event,'criteria_block_metrics_syn_complexity')">Search by Syntactic complexity features and Traditional readability metrics</button>
            <table class="criteria_block_metrics_syn_complexity" id="criteria_block_metrics_syn_complexity">
                <tr>
                    <td>Average Proportion of Intersection of tree nodes</td>
                    <td><input type="number" name="prop_tree_nodes" id="prop_tree_nodes" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                </tr>
                <tr>
                    <td>Average minimum edit distances of POS tags between adjacent sentences</td>
                    <td><input type="number" name="min_edit_dist_pos" id="min_edit_dist_pos" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                </tr>
                <tr>
                    <td>Average minimum edit distances of Lemmas between adjacent sentences</td>
                    <td><input type="number" name="min_edit_dist_lemma" id="min_edit_dist_lemma" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                </tr>
                <tr>
                    <td>Average minimum edit distances of words between adjacent sentences</td>
                    <td><input type="number" name="min_edit_dist_sent" id="min_edit_dist_sent" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                </tr>
                <tr>
                    <td>Number of Modifiers per noun phrase</td>
                    <td><input type="number" name="mod_per_np" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                </tr>
                <tr>
                    <td>Average Polysemous Index</td>
                    <td><input type="number" name="polysemous_percentage" id="polysemous_percentage" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                </tr>
                <tr>
                    <td>Flesch Reading Ease</td>
                    <td><input type="number" name="readingEase" id="readingEase" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                </tr>
                <tr>
                    <td>Flesch Kincaid Reading Level</td>
                    <td><input type="number" name="flesch_kincaid" onchange="handleChange(event,value)" min="0" inputmode="Decimal" onmouseout="isNaN(this.value)?this.value=0:this.value=this.value"/></td>
                </tr>
            </table>
    </div>
    

    {%include "searchTextInfo.html"%}
    {%include "searchLanguageCritera.html"%}

    <div class="search_button">
    <button type="submit" name="search_texts" value="search_texts_button" id="searchButton" onclick="validateAndSubmit(event)">Search texts</button>
    </div>

</html>